/** Custom Propierties **/
:root {
    --fuenteTitulo: 'Playfair Display', serif;
    --fuenteParrafo: 'Lora', serif;
    --fuenteTituloProducto: 'Work Sans', sans-serif;

    --colorPrincipal: #529F0F;
    --gris: #575757;
    --negro: #333333;    
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--negro);
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

img {
    max-width: 100%;
    display: block;
}

[class*="contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    background-color: #FFFFFF;
}

[class*="btn"] {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--colorPrincipal);
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: .5rem;
}

/** Header **/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .header {
        position: relative;
        margin: 1rem 5rem;
    }   
}

.navegacion {
    display: none;
}

@media (min-width: 992px) {
    .navegacion {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    
    .navegacion__enlace {
        margin: 0 1rem;
        color: var(--negro);
        text-decoration: none;
        padding: 1rem;
        margin: 0;
    }

    .navegacion__enlace:hover {
        background-color: var(--colorPrincipal);
        color: #FFFFFF;
    }
} 

@media (min-width: 992px) {
    .header__logo {
        position: absolute;
        right: calc(50% - 76px);
    }
}

.tienda {
    display: flex;
    align-items: center;
}

.tienda__icono {
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem;
}

.tienda__icono--rotate {
    display: none;
}

@media (min-width: 992px) {
    .tienda__icono--rotate {
        display: block;
        transform: rotateY(180deg);
    }

    .tienda__icono--movil {
        display: none;
    }
}

/** Hero **/
.hero {
    background-image: url(../img/slider-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.hero__titulo {
    text-align: center;
    line-height: 1.2;
    font-size: 3rem;
    max-width: 90%;
    color: #000000;
}

@media (min-width: 768px) {
    .hero__titulo {
        max-width: 50%;
        font-size: 4rem;
    }
}

@media (min-width: 992px) {
    .hero__titulo {
        max-width: 40%;
        font-size: 4rem;
    }
}

.hero__enlace {
    color: #000000;
    font-weight: bold;
}

@media (min-width: 992px) {
    .hero__enlace {
        font-size: 1.2rem;
    }
}

/** Banner **/
.banner {
    width: 100%;
    max-width: 90%;
    height: 100%;
}

@media (min-width: 640px) {
    .banner {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 992px) { 
    .banner {
        max-width: 80%;
    }
}

.banner-card {
    padding: 1rem;
    margin: 0 0 4rem 0;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

@media (min-width: 768px) { 
    .banner-card {
        padding-left: 2rem;
    }
}

@media (min-width: 992px) { 
    .banner-card {
        height: 20rem;
        margin: 0;
    }
}

.banner-card:last-of-type {
    margin: 0;
}

.banner-card--1,
.banner-card--2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}

.banner-card--1 {
    background-image: url(../img/banner-1.png);
}

@media (min-width: 640px) { 
    .banner-card--1 {
        margin-right: 2rem;
    }
}

.banner-card--2 {
    background-image: url(../img/banner-2.png);
}

.banner-card__descuento {
    margin: 0;
    color: var(--colorPrincipal);
    font-size: 3rem;
}

.banner-card__nombre {
    margin: 0;
    font-family: var(--fuenteTituloProducto);
    text-transform: uppercase;
    font-size: 1.4rem;
}