/** Custom Propierties **/
:root {
    --fuenteTitulo: 'Playfair Display', serif;
    --fuenteParrafo: 'Lora', serif;
    --fuenteTituloProducto: 'Work Sans', sans-serif;

    --colorPrincipal: #529F0F;
    --gris: #575757;
    --negro: #333333;    
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--negro);
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

img {
    max-width: 100%;
    display: block;
}

[class*="contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    background-color: #FFFFFF;
}

[class*="btn"] {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--colorPrincipal);
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: .5rem;
}

[class*="heading"] {
    text-align: center;
    font-family: var(--fuenteTitulo);
    color: var(--negro);
    font-size: 2.3rem;
    margin: 0;
}

@media (min-width: 768px) { 
    [class*="heading"] {
        font-size: 2.5rem;
    }
}

@media (min-width: 1440px) { 
    [class*="heading"] {
        font-size: 3.5rem;
    }
}

[class*="texto"] {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
}

@media (min-width: 768px) { 
    [class*="texto"] {
        font-size: 1.4rem;
    }
}

@media (min-width: 1440px) { 
    [class*="texto"] {
        font-size: 1.8rem;
    }
}

/** Header **/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .header {
        position: relative;
        margin: 1rem 5rem;
    }   
}

.navegacion {
    display: none;
}

@media (min-width: 992px) {
    .navegacion {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    
    .navegacion__enlace {
        margin: 0 1rem;
        color: var(--negro);
        text-decoration: none;
        padding: 1rem;
        margin: 0;
    }

    .navegacion__enlace:hover {
        background-color: var(--colorPrincipal);
        color: #FFFFFF;
    }
} 

@media (min-width: 992px) {
    .header__logo {
        position: absolute;
        right: calc(50% - 76px);
    }
}

.tienda {
    display: flex;
    align-items: center;
}

.tienda__icono {
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem;
}

.tienda__icono--rotate {
    display: none;
}

@media (min-width: 992px) {
    .tienda__icono--rotate {
        display: block;
        transform: rotateY(180deg);
    }

    .tienda__icono--movil {
        display: none;
    }
}

/** Hero **/
.hero {
    background-image: url(../img/slider-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.hero__titulo {
    text-align: center;
    line-height: 1.2;
    font-size: 3rem;
    max-width: 90%;
    color: #000000;
}

@media (min-width: 768px) {
    .hero__titulo {
        max-width: 50%;
        font-size: 4rem;
    }
}

@media (min-width: 992px) {
    .hero__titulo {
        max-width: 40%;
        font-size: 4rem;
    }
}

.hero__enlace {
    color: #000000;
    font-weight: bold;
}

@media (min-width: 992px) {
    .hero__enlace {
        font-size: 1.2rem;
    }
}

/** Banner **/
.banner {
    width: 100%;
    max-width: 90%;
    height: 100%;
}

@media (min-width: 640px) {
    .banner {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 992px) { 
    .banner {
        max-width: 80%;
    }
}

.banner-card {
    padding: 1rem;
    margin: 0 0 4rem 0;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

@media (min-width: 768px) { 
    .banner-card {
        padding-left: 2rem;
    }
}

@media (min-width: 992px) { 
    .banner-card {
        height: 20rem;
        margin: 0;
    }
}

@media (min-width: 1440px) { 
    .banner-card {
        height: 25rem;
        padding-left: 4rem;
    }
}

@media (min-width: 1800px) { 
    .banner-card {
        height: 32rem;
        padding-left: 4rem;
    }
}

.banner-card:last-of-type {
    margin: 0;
}

.banner-card--1,
.banner-card--2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}

.banner-card--1 {
    background-image: url(../img/banner-1.png);
}

@media (min-width: 640px) { 
    .banner-card--1 {
        margin-right: 2rem;
    }
}

.banner-card--2 {
    background-image: url(../img/banner-2.png);
}

.banner-card__descuento {
    margin: 0;
    color: var(--colorPrincipal);
    font-size: 3rem;
}

@media (min-width: 1440px) { 
    .banner-card__descuento {
        font-size: 4rem;
    }
}

.banner-card__nombre {
    margin: 0;
    font-family: var(--fuenteTituloProducto);
    text-transform: uppercase;
    font-size: 1.4rem;
}

@media (min-width: 1440px) { 
    .banner-card__nombre {
        font-size: 1.6rem;
    }
}

/** Latest Products **/
.latest-products {
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 6rem;
    padding: 6rem 2rem;
}

.productos-galeria {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

@media (min-width: 640px) { 
    .productos-galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 992px) { 
    .productos-galeria {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1800px) { 
    .productos-galeria {
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        gap: 0;
    }
}

.card-producto {
    position: relative;
}

.card-producto--off {
    width: 5rem;
    height: 5rem;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 10px;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-producto--off p {
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
    font-weight: bold;
    color: #FFFFFF;
    
}

.card-producto__img {
    margin: 3rem 0;
    position: relative;
}


.card-producto__nombre {
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: var(--fuenteTituloProducto);
    color: var(--gris);
}

.card-producto__precio {
    text-align: left;
    font-size: 1.3rem;
    color: var(--negro);
    font-weight: bold;
}

.card-producto__precio span {
    color: var(--gris);
    text-decoration: line-through;
}

/** Testimonio **/
.testimonio {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio__texto {
    font-size: 1.6rem;
    margin-top: 3rem;
}

@media (min-width: 640px) { 
    .testimonio__texto {
        max-width: 85%;
    }
}

@media (min-width: 768px) { 
    .testimonio__texto {
        max-width: 90%;
        font-size: 2rem;
    }
}

@media (min-width: 992px) { 
    .testimonio__texto {
        max-width: 70%;
    }
}

@media (min-width: 1280px) { 
    .testimonio__texto {
        max-width: 55%;
    }
}

@media (min-width: 1280px) { 
    .testimonio__texto {
        max-width: 60%;
        font-size: 2.3rem;
    }
}

.testimonio__autor {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (min-width: 1280px) { 
    .testimonio__autor {
        font-size: 1.3rem;
    }
}

@media (min-width: 1440px) { 
    .testimonio__autor {
        font-size: 1.5rem;
    }
}

.testimonio__rol {
    margin: 1rem 0 0 0;
    color: var(--gris);
    font-size: 1.1rem;

}

@media (min-width: 1280px) { 
    .testimonio__rol {
        font-size: 1.3rem;
    }
}

@media (min-width: 1440px) { 
    .testimonio__rol {
        font-size: 1.4rem;
    }
}